{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}

        <div class="d-flex flex-column" id="content-wrapper">

{% include 'includes/search_bar.html' %}

<div class="container-fluid">
                <h3 class="text-dark mb-4">Profile</h3>
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <div class="card mb-3">
                            <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="{{request.user.profile.image.url}}" width="160" height="160">
                            </div>
                        </div>
                        <div class="mb-3">
                        <img src="{% static 'webpages_static/profile.svg' %}" class="img-fluid" alt="Sushiksha">
                    </div>

                    </div>
                    <div class="col-lg-8">

                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">User Profile</p>
                                        <span>Don't worry your data will be safe with us</span>
                                    </div>
                                    <div class="card-body">




                                           <form method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}

                                                {{ u_form|crispy }}
                                                {{ p_form|crispy }}

                                                <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save Profile</button></div>

                                            </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
{% endblock content %}