{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
 <div class="d-flex flex-column" id="content-wrapper">

{% include 'includes/search_bar.html' %}

            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">Teachers</h3></div>

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

          <p class="mb-2">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Filter options &#8681;
            </button>
          </p> 
          <div class="collapse" id="collapseExample">
            <div class="card card-body mb-3 ">
                <form method="GET" class="mb-3" class="form-inline">
        
                  {{teacher_filter.form | crispy}}
          
                <button class="btn btn-primary" type="submit">Filter</button>
                </form> 
                            </div>
          </div>



           
                
               



        <div class="row">

{% for teacher in teachers %}

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{{teacher.photo.url}}" class="img-fluid" alt="">
                <div class="social">
                  <a href="{{teacher.twitter_url}}"><i class="fab fa-twitter"></i></a>
                  <a href="{{teacher.facebook_url}}"><i class="fab fa-facebook-square"></i></a>
                  <a href="{{teacher.instagram_url}}"><i class="fab fa-instagram"></i></a>
                  <a href="{{teacher.linkedin_url}}"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <a href="{% url 'teacher_detail' teacher.id %}" class="font-weight-bold"><h4>{{teacher.name}}</h4></a>
                <span>{{teacher.subject}}</span>
                <span>Country code: {{teacher.country}}</span>
              </div>
            </div>
          </div>

{% endfor %}

        </div>

      </div>
    </section><!-- End Team Section -->

            </div>

 </div>

{% endblock content %}