[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
psycopg2 = "*"
djangocms-admin-style = "*"
django-allauth = "*"
django-ckeditor = "*"
django-countries = "*"
django-crispy-forms = "*"
gunicorn = "*"
django-heroku = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.8"
