{% load static %}
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon "><img src="{% static 'assets/img/logo/logo.png' %}" class="avatar" width="60px"></div>
                    <div class="sidebar-brand-text mx-3"><span>UDAYAGIRI</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}"><i class="fas fa-table"></i><span>Table</span></a></li>
                    {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}"><i class="fas fa-user-circle"></i><span>Register</span></a></li> {% endcomment %}
                    {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'forgot_password' %}"><i class="fas fa-key"></i><span>Forgotten Password</span></a></li> {% endcomment %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'teacher' %}"><i class="fas fa-cogs"></i><span>Teachers</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
