{% extends 'base.html' %}

{% block content %}


<div class="d-flex flex-column" id="content-wrapper">

{% include 'includes/search_bar.html' %}

            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">About Us</h3></div>


                   <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row">

                    <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                        {% comment %} <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt=""> {% endcomment %}
                    </div>

                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>Sushiksha</h3>
                        <p>
                            Sushiksha Mentoring Program is organized for scholars of Vishwa Konkani Student Scholarship Fund (VKSSF) by members of VKSSF Alumni Association (VAA). Sushiksha was started in 2018 by Royal Denzil Sequeira, a member of VAA since 2015, with 20 mentees. Since then Sushiksha has grown to be family of 170 mentees and 20 mentors. Mentees of Sushiksha are undergraduate scholars of VKSSF who are determined to thrive and be successful in their area of study and career. Mentors of Sushiksha Program are experienced professionals who were once the scholars of VKSSF and have lived through their own share of successes and failures but believe in empowering the scholars early on in their career path.</p>
                        <p>
                            Sushiksha thrives because of the dedication of its active mentees and mentors – who have contributed countless hours of work to shape their future and make it a highly productive and focused workspace.
                        </p>

                    </div>
                </div>
                <br>



                <div class="row">
                    <div class="col-lg-6 wow fadeInUp order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        {% comment %} <img src="{% static 'assets/img/about-3.JPG' %}" class="img-fluid" alt=""> {% endcomment %}
                    </div>

                    <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="150">
                        <h3>About Sushiksha Coding League</h3>
                        <p> Sushiksha Coding League is nothing but a Coding School Initiative with a difference. 
                        The Coding School thought was infact ignited by Shri T V Mohandas Pai from the Prerna Stage in 2020. 
                        The Alumni took it forward and brought a cool quotient to the brand with a feel of cricketing spirit. The Tagline of SCL is “Anybody Can Code”
                        – it means a great coder can come from any corner of the world.
                        SCL is spread across Six weeks into Two Phases. The SCL Mini, a short duration phase as the name suggests, with a couple of Workshops in Python,
                        Web development and Flask followed by a Sandbox Hackathon. This is just to make sure all the teams and participants are thorough with the basics of programming. 
                        This project is a part of the SCL Maxo where the teams develop a solution for a problem, applying technology to solve real life problems!
 
                        </p>
                    </div>

                </div>

                <br>
                <br>

                <div class="row">

                    <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                        {% comment %} <img src="{% static 'assets/img/about-4.JPG' %}" class="img-fluid" alt=""> {% endcomment %}
                    </div>

                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
<h3> About our project </h3>
<p>
With the outbreak of pandemic, the educational institutions had to be shutdown which hindered the learning of a lot of students.The students have to adapt to the online methods of learning which is now the new norm. 
Reaching out to teachers and resource personals is a rather difficult task. With this project, any student from any corner of the world, willing to learn something can reachout to a teacher. 
Anyone can create an account and seek help from our verified lecturers. 

                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        </div>
 </div>


{% endblock content %}

