{% extends 'base.html' %}
{% block content %}
{% load static %}
 <div class="d-flex flex-column" id="content-wrapper">

{% include 'includes/search_bar.html' %}

            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">Privacy</h3>
                    </div>

     
            <div class="container">

                <div class="row">

                    <div class="col-lg-4 video-box align-self-baseline text-center" >
                        <img src="{% static 'webpages_static/privacy.svg' %}" class="img-fluid" alt="Sushiksha">
                    </div>

                    <div class="col-lg-8 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>Privacy Policy</h3>
                        <p>
                            Sushiksha Mentoring Program is organized for scholars of Vishwa Konkani Student Scholarship Fund (VKSSF) by members of VKSSF Alumni Association (VAA). Sushiksha was started in 2018 by Royal Denzil Sequeira, a member of VAA since 2015, with 20 mentees. Since then Sushiksha has grown to be family of 170 mentees and 20 mentors. Mentees of Sushiksha are undergraduate scholars of VKSSF who are determined to thrive and be successful in their area of study and career. Mentors of Sushiksha Program are experienced professionals who were once the scholars of VKSSF and have lived through their own share of successes and failures but believe in empowering the scholars early on in their career path.</p>
                        <p>
                            Sushiksha thrives because of the dedication of its active mentees and mentors – who have contributed countless hours of work to shape their future and make it a highly productive and focused workspace.
                        </p>

                    </div>
                </div>
            </div>
       

            </div>
 </div>

{% endblock content %}