{% extends 'base.html' %}
{% block content %}
{% load static %}

 <div class="d-flex flex-column" id="content-wrapper">

{% include 'includes/search_bar.html' %}

            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">Udayagiri team</h3></div>

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">


        <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'team_photos/Ajay.jpeg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/aj221"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ajay G Nayak</h4>
                <span>VKSSF Batch : 2019</span>
                <span>Email: ajaygnayak221@gmail.com</span>
              </div>
            </div>
          </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'team_photos/Prajaktha.jpeg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/PrajakthaP?s=08"><i class="fab fa-twitter"></i></a>
                  <a href=" https://www.linkedin.com/in/prajaktha-p-prabhu-a49b521b8"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Prajaktha P Prabhu</h4>
                <span>VKSSF Batch : 2019</span>
                <span>Email: prajakthaprabhu@gmail.com</span>
              </div>
            </div>
          </div>


        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'team_photos/Nima.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/Nima65530712?s=08"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.linkedin.com/in/nima-296b681b3"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Nima</h4>
                <span>VKSSF Batch : 2019</span>
                <span>Email : nimasaranga123@gmail.com</span>
              </div>
            </div>
          </div>


        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'team_photos/Prathviraj.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/PrathvirajPrab1?s=08"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.linkedin.com/in/prathviraj-prabhu-430123193"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Prathviraj Prabhu</h4>
                <span>VKSSF Batch : 2019</span>
                <span>Email : prathvirajbellampalli@gmail.com</span>
              </div>
            </div>
          </div>


        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'team_photos/Pranita.jpeg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/pranita-shenoy-nagar-a404061b1/"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Pranita</h4>
                <span>VKSSF Batch : 2019</span>
                <span>Email: pranitashenoy2001@gmail.com</span>
              </div>
            </div>
          </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'team_photos/Parthiv.jpeg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/CsParthiv?s=08"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.linkedin.com/in/parthiv-kamath-cs-06b46b18a/"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Parthiv Kamath CS</h4>
                <span>VKSSF Batch : 2019</span>
                <span>Email : parthivkmth5@gmail.com</span>
              </div>
            </div>
          </div>



          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'team_photos/Praneeth.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/18praneeth"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.linkedin.com/in/18praneeth/"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Praneeth</h4>
                <span>VKSSF Batch : 2019</span>
                <span>Email : 18praneeth@gmail.com</span>
              </div>
            </div>
          </div>



        </div>

      </div>
    </section><!-- End Team Section -->

            </div>

 </div>




{% endblock content %}
