{% extends 'auth_base.html' %}
{% block content %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        
                        <img src="{% static 'webpages_static/register.svg' %}" class="img-fluid" alt="Sushiksha">
                   
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create a new account</h4>
                            </div>
                            <form class="user" action="{% url 'register' %}" method='POST' >
                            {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="First Name" name="first_name" required=""></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="Last Name" name="last_name" ></div>
                                </div>
                                <div class="form-group"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email Address" name="email" required=""></div>
                                <div class="form-group"><input class="form-control form-control-user" type="text" id="UsernameInput" aria-describedby="usernameHelp" placeholder="Username..." name="user_name" required=""></div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Password" name="password" required=""></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Repeat Password" name="confirm_password" required=""></div>
                                </div><button class="btn btn-primary btn-block text-white btn-user" type="submit">Register Account</button>
                                 <hr><a class="btn btn-primary btn-block text-white btn-google btn-user" href="{% provider_login_url 'google' method='oauth2' %}"  role="button"><i class="fab fa-google"></i>&nbsp; Register with Google</a>
                                 {% comment %} <a class="btn btn-primary btn-block text-white btn-facebook btn-user" href="{% provider_login_url 'facebook' method='oauth2' %}" role="button"><i class="fab fa-facebook-f"></i>&nbsp; Register with Facebook</a> {% endcomment %}
                                <hr>
                            </form>
                            {% comment %} <div class="text-center"><a class="small" href="{% url 'forgot_password' %}">Forgot Password?</a></div> {% endcomment %}
                            <div class="text-center"><a class="small" href="{% url 'login' %}">Already have an account? Login!</a></div>
                        </div>
                    </div>
                </div>
            </div>
</div>

{% endblock content %}