{% extends 'base.html' %}
{% block content %}

 <div class="d-flex flex-column" id="content-wrapper">

{% include 'includes/search_bar.html' %}

            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">Teachers</h3></div>

<main class="single-page-tubers">
                <div class="row">
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-primary py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Earnings (monthly)</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>$40,000</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-success py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Earnings (annual)</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>$215,000</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-info py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Tasks</span></div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span>50%</span></div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-info" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"><span class="sr-only">50%</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-warning py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Pending Requests</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>18</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <h1 class="text-center">{{tuber.name}}</h1>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <img src="{{teacher.photo.url}}" class="img-fluid" alt="team-member">
        </div>
      </div>
    
    <h4 class="mt-4">Introduction video</h4>
    <div class="embed-responsive embed-responsive-16by9 mb-3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
    </div>
        
      <h4>Descritpion</h4>
      <p class="lead">
          {{teacher.description | safe }}
      </p>
    

      <div class="person-description">
        <button class="btn btn-accent"> City: {{teacher.city}} </button>
        <button class="btn btn-accent"> Age: {{teacher.age}} </button>
      </div>

 

    <section class="youtuber-form container mt-5 mb-5">
      <div class="row">
        <form method="POST" action="{% url 'student' %}" class="col-md-8 offset-md-2">
          <h3 class="pt-2 pb-2">Fill the Form and reach out</h3>
          {% csrf_token %}
          {% if user.is_authenticated %}
          <input type="hidden" name="user_id" value="{{user.id}}">
          {% else %}
          <input type="hidden" name="user_id" value="00">
          {% endif %}
          <input type="hidden" name="tuber_id" value="{{teacher.id}}">

          <div class="form-row">
            <div class="form-group col-md-4">
              <input name="first_name" class="form-control" placeholder="First Name" required>
            </div>
            <div class="form-group col-md-4">
              <input name="last_name" class="form-control" placeholder="Last Name">
            </div>
            <div class="form-group col-md-4">
              {% if user.is_authenticated %}
              <input name="email" type="email" value="{{user.email}}" class="form-control" placeholder="Email">
              {% else %}
              <input name="email" type="email" class="form-control" placeholder="Email">
              {% endif %}
            </div>
          </div>

          <div class="form-group">
            <select name="tuber_name"  class="form-control">
              <option selected disabled hidden>Select tuber</option>
             
              <option value="{{teacher.name}}">{{teacher.name}}</option>
             
            </select>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <input name="city" type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group col-md-4">
              <input name="state" type="text" class="form-control" placeholder="State">
            </div>
            <div class="form-group col-md-4">
              <input name="phone" type="text" class="form-control" placeholder="Phone Number">
            </div>

          </div>

          <div class="form-group pt-2">
            <textarea name="message" class="form-control" rows="3" placeholder="Details Message"></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Contact Us</button>
          </div>

        </form>
      </div>

    </section>

  </main>

            </div>

 </div>




{% endblock content %}